ul {
  list-style-type: none;
  margin: 95;
  font-size: 27px;
}
li {
  display: inline;
}
#menu {
  font-family: "Times New Roman", Times, serif;
}
a {
  color: #692cf5;
  text-decoration: none;
}
body {
  background-image: url('neonflames.png');
  color: #692cf5;
}
* {
  box-sizing: border-box;
}
.column {
  float: right;
  width: 25%;
  padding: 3px;
}
}